body {
    background-image: url("bdit.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

p {
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 70%;
}
